#app{
  text-align: center;
  background-color: gray;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}
 
#choices{
    padding: 0.5%;    
    font-size: 1.15rem;     
}
 
#player{
    display: inline-block;
    width: 90%;
    font-size: 0.15rem;
}
 
#songTitle{
    color: white;
    height: 3%;
    padding: 0.5%;
    font-size: 1.15rem;     
}
 
.box{
  border-radius: 1rem;
  border: 1px solid black;
}
 
.vertical{
  height: 49%;
  width: 99%;
}
 
.horizontal{
  display: inline-block;
  height: 99%;
  width: 49%;
}